.map-toggle-btn{
    border-radius: 8px;
    height: 52px;
    width: 59px;
    background: #FFF;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-toggle-btn_active{
    background: var(--green_3);
}